body {
    background: url('src/images/school1.jpg');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.title-login {
    justify-content: space-evenly;
    display: flex;

}

.bg-dark {
    --bs-bg-opacity: 0.3;
}

.inputH5 {
    text-align: start;
}

.bi:hover {
    color: red;
}

.material-icons-eye:hover {
    color: rgb(100, 166, 189);
}
.xbutton:hover{
   color: rgb(222, 70, 10);
}