body
{
    background:url('src/images/school1.jpg');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
}
.title-login{
    justify-content: center;
    display: flex;
    flex-direction: initial;
}
.bg-dark {
    --bs-bg-opacity: 0.2;
}
.inputH5{
    text-align: start;
}
.bi:hover{
    color: red;
}
.material-icons:hover{
    color:rgb(100, 166, 189);
}
