<section class="vh-100 gradient-custom">
  <div class="container py-5 ">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="">

              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">Please enter your login credentials!</p>

              <div class="form-outline input-group form-white mb-4">
                <span class="input-group-text" id="basic-addon1">
                  <em class="bi bi-person-fill"></em>
                </span>
                <input type="email" id="typeEmail" class="form-control form-control-lg" placeholder="Email"
                  aria-label="Input group example" aria-describedby="basic-addon1">
              </div>

              <div class="form-outline input-group form-white mb-4">
                <span class="input-group-text" id="basic-addon1">
                  <em class="bi bi-key-fill"></em>
                </span>
                <input type="password" id="typePassword" placeholder="Password" class="form-control form-control-lg" />
              </div>

              <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
              <p class="small mb-5 pt-lg-3"><a class="text-white-50" href="#!">Forgot password?</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>