<app-navigationbar></app-navigationbar>
<div class="row d-flex justify-content-center">
<div class="col-xl-9">
    <div class="col-4 navbar p-3 ps-0">
    <input class="form-control" type="text" name="title" [(ngModel)]="title"
    (ngModelChange)="Search()" placeholder="Enter subject title">
</div>
<table class="table table-bordered  text-start" >
    <thead class="bg-success text-white" >
        <tr>
            <th class="col-1" (click)="sort('sessionId')">Id&nbsp;<i class="fa fa-sort"></i></th>
            <th class="col-2" (click)="sort('title')">Name&nbsp;<i class="fa fa-sort"></i></th>
            <th class="col-3" (click)="sort('description')">Description&nbsp;<i class="fa fa-sort"></i></th>
            <th class="col-2" (click)="sort('startTime')">Start Time&nbsp;<i class="fa fa-sort"></i></th>
            <th class="col-2" (click)="sort('endTime')">End Time&nbsp;<i class="fa fa-sort"></i></th>
            <!-- <th class="col-3" (click)="sort('isOptional')">Is Optional:&nbsp;<i class="fa fa-sort"></i></th> -->
            <th class="col-6" (click)="sort('difficultyLevel')">Difficulty Level&nbsp;<i class="fa fa-sort"></i></th>
            <!-- <th scope="col" (click)="sort('keywords')">Name&nbsp;<i class="fa fa-sort"></i></th>
            <th scope="col" (click)="sort('ratingSum')">Name&nbsp;<i class="fa fa-sort"></i></th>
            <th scope="col" (click)="sort('ratingCount')">Name&nbsp;<i class="fa fa-sort"></i></th>
            <th scope="col" (click)="sort('sessionRatings')">Name&nbsp;<i class="fa fa-sort"></i></th> -->
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let session of sessionList | paginate: {itemsPerPage:5,currentPage:page};">
            <td >{{session.sessionId}}</td>
            <td >{{session.title}}</td>
            <td >{{session.description}}</td>
            <td >{{session.startTime | date : 'short'}}</td>
            <td >{{session.endTime | date : 'short'}}</td>
            <!-- <td >{{session.isOptional}}</td> -->
            <td >{{session.difficultyLevel}}</td>
        </tr>
    </tbody>
</table>


<pagination-controls  (pageChange)="page = $event" class="text-center"></pagination-controls>

</div>
</div>
