<app-navigationbar></app-navigationbar>

<div class="col-xl-7 d-flex justify-content-center">
  <div class="col-3 navbar p-3">
    <input class="form-control" type="text" name="name" [(ngModel)]="name"
           (ngModelChange)="Search()" placeholder="Enter subject name">
  </div>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col" (click)="sort('id')">Subject id&nbsp;<i class="fa fa-sort"></i></th>
      <th scope="col" (click)="sort('name')">Name&nbsp;<i class="fa fa-sort"></i></th>
      <th scope="col">Subject Duration</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let subject of subjects | paginate: {itemsPerPage:5,currentPage:page};">
      <td scope="row">{{subject.id}}</td>
      <td scope="row">{{subject.name}}</td>
      <td scope="row">{{subject.duration}}</td>
    </tr>
    </tbody>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </table>

</div>
